<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/admin_dashboard.css">
    <title>Admin</title>
</head>
<body>
    <div class = "main-dashboard">
        <div class = "box-dashboard">
            <div class = "card-dashboard">
                <h1>Bem vindo, professor</h1>
                <div class = "btns">
                    <button class="btn-tarefas">Cadastrar Tarefa</button>
                    <button class="btn-listas">Cadastrar Lista</button>
                    <button class="btn-notas">Lançar Notas</button>
                    <button class="ver-notas">Ver Notas</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>