<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/cadastro.css">
    <title>Cadastro</title>
</head>
<body>
    <div class = "main-cadastro">
        <div class = "left-cadastro">
            <h1>Cadastre-se agora!</h1>
        </div>
        <div class = "right-cadastro">
            <div class = "card-cadastro">
                <h1>CADASTRO</h1>
                <div class="textfield">
                    <label for="user">Usuário</label>
                    <input type="text" name="user" placeholder="Usuário" required>
                </div>
                <div class="textfield">
                    <label for="password">Senha</label>
                    <input type="password" name="password" placeholder="Senha" required>
                </div>
                <button class="btn-confirmar">Confirmar</button>
            </div>
        </div>
    </div>
</body>
</html>