<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/lancar_notas.css">
    <title>Lançar Notas</title>
</head>
<body>
    <div class = "main-cadastro">
        <div class = "box-cadastro">
            <div class = "card-cadastro">
                <h2>Lançar Notas</h2>
                <form class="form-cadastro" id="form-cadastro" method = "POST">
                <div class="textfield">
                    <label for="username">Nome do Aluno:</label>
                    <input type="text" name="user" placeholder="Usuário" required>
                </div>
                <div class="textfield">
                    <label for="email">E-mail do Aluno:</label>
                    <input type="text" name="email" placeholder="Usuário" required>
                </div>
                <div class="textfield">
                    <label for="matricula">Matrícula do Aluno:</label>
                    <input type="number" name="matricula" placeholder="Matrícula" required>
                </div>
                <div class="textfield">
                    <label for="password">Nota Tarefa 1:</label>
                    <input type="number" name="nota_tarefa1" placeholder="Nota 1">
                </div>
                <div class="textfield">
                    <label for="password">Nota Tarefa 2:</label>
                    <input type="number" name="nota_tarefa2" placeholder="Nota 2">
                </div>
                <div class="textfield">
                    <label for="nota_lista1">Lista 1:</label>
                    <input type="number" name="nota_lista1" placeholder="Lista 1">
                </div>
                <div class="textfield">
                    <label for="nota_lista2">Lista 2:</label>
                    <input type="number" name="nota_lista2" placeholder="Lista 2">
                </div>
                <div class="textfield">
                    <label for="nota_lista3">Lista 3:</label>
                    <input type="number" name="nota_lista3" placeholder="Lista 3">
                </div>
                <div class = "btns">
                    <button class="btn-voltar">Voltar</button>
                    <button class="btn-confirmar">Confirmar</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>