<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <title>Login</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Olá</h1>
            <img src="/static/learning-animate.svg" class="left-login-img" alt="Estudante">
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>LOGIN</h1>
                <form class="form-login" id="form-login" methods="POST">
                <div class="textfield">
                    <label for="user">Usuário</label>
                    <input type="text" name="username" placeholder="Usuário" required>
                </div>
                <div class="textfield">
                    <label for="password">Senha</label>
                    <input type="password" name="password" placeholder="Senha" required>
                </div>
                <div class="btns">
                    <button class="btn-login">Login</button>
                    <button class="btn-cadastrar" href="/cadastrar">Cadastrar</button>
                </div>
                </form>
        </div>
    </div>
</body>
</html>