<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas</title>
    <link rel="stylesheet" href="/static/receber_tarefa.css">
</head>
<body>
    <div class = "main-tarefa">
        <div class = "box-tarefa">
            <div class = "card-tarefa">
                <h2>Envie sua tarefa:</h2>
                <div class="textfield">
                    <label for="tarefa_id">Nome da tarefa:</label>
                    <input type="text" name="tarefa_id" placeholder="Nome da Tarefa" required>
                </div>
                <form class="form-tarefa" id="form-tarefa" method = "POST" enctype="multipart/form-data">
                <div class="anexo">
                    <input type="file" name="arquivo_entregue" id="arquivo_entregue">
                </div>
                <div class = "btns">
                    <button type = "reset" class="btn-cancelar">Cancelar</button>
                    <button type = "submit" class="btn-enviar">Enviar</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>